.main-checkout{
    margin: 30px auto;
}
.main-checkout h1{
    text-align: center;  
}
.main-checkout p{
    text-align: left;  
}
.main-checkout_wrapper{
    display: flex;
    flex: 1;
}
.shipping-details_wrapper{
    display:flex;
    flex: 1;
    gap:10px;
    background: #fff;
    align-items: center; 
     
}
.checkout-product-image {
    width: 200px;
}
.checkout-product-image img{
  width:100%;
  object-fit: contain;
  height: 300px;
  
}
.checkout-product_size{
    display:flex;
    flex-direction:column; 
    
  }
.checkout-product_size p{
  width:max-content;
  padding:0 10px;
  margin:0px;
}
.quantity{
    width: max-content;
}
.checkout-product_price{
    width: max-content;
}

.order-summary{
    grid-area: checkout;
    width:25em;
    background: #fff;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.15)
}
.total{
    display: flex;
    justify-content: space-between;
}
.order-summary h1{
    text-align: center;
}
.payment{ 
    background:green;
}