@import "import/links.css";

body {
    font-family: 'Poppins', sans-serif, arial; 
    min-height: 100vh;
    margin: 0px;
    display: grid;
    width:100%;
    background-color: #f2f2f2;
  }

header{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

}
/* logo image*/


img.logo{
width: 100%;
object-fit: contain;
height: 60px;
margin-bottom: 10px;
}

nav {
 margin-left: 40px;
 position: fixed;
 top: 120px;
 background: #fff;
 z-index: 1000;
 right: 200px;
 left: 0px;
 display: none;   
}
   
nav ul{
 padding: 10px;      
}

nav li{
 display: block;
 padding: 20px;
}

nav a:hover{
 color:#4B7AF0 ;
}
.icons-nav{
 margin: 5px;
 display: flex;
 flex: 2;
 flex-direction:row;
 justify-content: space-between;
 width:100%;
 align-items: center; 
  }

.icon-bars{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    }

 #hamburger-menu{
    display: none;
}
#hamburger-menu:checked ~ nav{
    display: inline-block;
}

.icon-bars, .fas{
    
    font-size: 20px;
}
.icon-bars .fas{
    padding: 20px;   
}

.icon-bars .fas:hover{
    color: #4B7AF0;
}

/* Links*/

/*...footer..*/

footer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content:space-around ;
    color:#fff;
    background: url(../images/footer-texture.png);
    margin-top: 100px;
   
}




   
   
     





