
.success-page{
    width: 900px;
    height: 500px;
    background: #fff; 
    margin: auto;
    margin-top: 100px;   
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.success-page-wrapper{
    position: absolute;
    top:10%;
    left: 33%;
    text-align: center;

}
.success-page-wrapper p{
    line-height: 5px;
    font-weight: #707070;
}


.sucess-continue-shopping{
    width: max-content;
    text-transform: uppercase;
    padding: 10px 60px;
    margin-top: 30px;
}
.success-sign{
    color: #4BB543;
    font-size: 100px;
}
